<!DOCTYPE html>
<html>
<head>
    <title>Das Movieeze</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/main.min.css">
</head>
<body>
<div class="landing-container">
    <h1>Movies you love! Das Movieeze</h1>
    <a class="btn btn-primary btn-lg" href="/movies">Proceed to Movies</a>

</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

</body>
</html>